body {
    font-family: sans-serif;
    font-style: italic;
}

/*общая обертка*/
.component{
    border: 1px solid red;
    position: relative;
    width: 650px;
}


.component__header{
    border: 1px solid red;
    width:100%;
    height:50px;
}

.spanvmiddle{
    display:inline-block;
    height:100%;
    width:0;
    overflow:hidden;
    vertical-align:middle;
}

.component__text {
    vertical-align:middle;
    font-size:18px;
    padding-left: 18px;
}

/* */
.comment{
    position: relative;
    border: 1px dashed  green;
    width: 600px;
    height: 90px;
    margin: 5px 5px;
}

.comment__field{
    position: absolute;
    /*border: 1px solid black;*/
    width: 490px;
    height: 40px;
    top: 5px;
    margin-left: 100px;
}

.comment__likes{
    position: absolute;
    bottom: 5px;
    padding: 3px 7px;
    right: 60px;
    background-color: #808080;
 }

.comment__count-likes{
    position: absolute;
    padding: 3px 7px;
    border-radius: 15px;
    bottom: 5px;
    right: 20px;
    background-color: #808080;
}

.comment__count-likes--hidden{
    visibility: hidden;
}

.comment__count-likes--visible{
    visibility: visible;
}

.comment__image{
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 5px;
    border: 1px solid red;
}

.comment__button--reply{
    color: #fff;
}

.comment__image--authorized{
    background-color: aqua;
}

.comment__image--no-authorized{
    background-color: beige;
}

.comment--margin{
    margin-left: 45px;
}


.form-comment{
    position: relative;
    border: 1px dashed  green;
    height: 220px;
    width: 600px;
    margin: 10px 10px;
}

.form-comment__field--big{
    height: 170px;
}

.button-add{
    position: absolute;
    bottom: 5px;
    margin-left: 100px;
}

.button-add__underscore{
    text-decoration: underline;
    color: cornflowerblue;
}

.button-add__new-comment{
    color: #fff;
    background-color: #808080;
    border: 1px solid gray;
    padding: 5px 20px 5px 20px;
}