.b-button {
    position: absolute;
}

.b-button__text-comment {
    bottom: 15px;

    margin-left: 100px;
    padding: 5px 20px 5px 20px;

    color: #fff;
    border: 1px solid gray;
    background-color: #808080;
}

.b-button__underscore {
    bottom: 5px;

    margin-left: 100px;

    text-decoration: underline;

    color: cornflowerblue;
}